<!DOCTYPE html>
<html>

<head>
    <title>Gerenciador de Estoque</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>Gerenciador de Estoque</h1>
    </header>
    <section>
        <h2>ERRO: <%= message %></h2>
        <pre><%= error %></pre>
    </section>

    <footer>
        <h4>Trabalho desenvolvido por: Eloah Noguchi 082160005 • Diego de Paula 082160010 • Thainá França 082160022 •
            Sabrina Monteiro 082160041</h4>
    </footer>
</body>

</html>