<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <h2>Products</h2>
    </head>

    <body>
        <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
        <% } %>
    </body>
</html>